<?xml version="1.0" encoding="UTF-8"?>
<Context docBase="theme-reference" path="/viewer" reloadable="true">
    
        <Resource
                name="viewer"
                auth="Container"
                type="javax.sql.DataSource"
                driverClassName="org.mariadb.jdbc.Driver"
                username="viewer"
                password="viewer"
                maxActive="100"
                maxIdle="30"
                minIdle="4"
                maxWait="10000"
                testOnBorrow="true"
                testWhileIdle="true"
                validationQuery="SELECT SQL_NO_CACHE 1"
                removeAbandoned="true"
                removeAbandonedTimeout="120"
                url="jdbc:mariadb://localhost/viewer?characterEncoding=UTF-8&amp;autoReconnectForPools=true"
        />
</Context>
